<section class="footer">
    <div class="container ">
        <div class="row">
            <div class="col-12 col-md-12 text-center">
                 <div class="text-white">
                    <h4>Get instant weather information</h4>
                 </div>
            </div>
        </div>
    </div>
</section>